/* html, body {
    height: 100%;
    background-color: red;
} */

/* .container {
    height: 100%;
    border: 1000px solid #0ea5e9;
} */

/* body {
    background-image: url('');
} */

/* https://www.bilibili.com/video/BV1tM4y1V7xg/ */
